@CHARSET "UTF-8";
table{
	width:80%;
	margin:auto;
	color:blue;
	font-size: 30px;
}
h2{
	text-align:center;
	color:red;
}
h1{
	color:gray;
}
th{
	color:black;
}
a{
	
	color:green;
}
input{
	width:10%;
	height:8%;
}